<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx configured automatically by Ansible</title>
<style>
    body {
        width: 37em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to my Ansible DEVOPS LAB on {{ inventory_hostname }}</h1>
<p>If you see this page, the nginx web server was successfully installed and
configured by ANSIBLE in my lab environment. Further configuration is required.</p>

<p>Ansible is a fun and cool devops tool that make configuration, deployment
and orchestration EASY!. <a href="http://www.ansible.com/">Click here for ansible site</a></p>

<p>
      Below are some useful tools for your DEVOPS journey!
      <ol> 
         <li><a href="http://www.ansible.com/">Ansible</a></li>
         <li><a href="http://www.vagrantup.com/">Vagrant</a></li>
         <li><a href="http://www.puppet.com/">Puppet</a></li>
         <li><a href="http://www.terraform.io/">Terraform</a></li>
      </ol>
</p>

<p><em>Happy Coding.</em></p>


</body>
</html>
