<!DOCTYPE html>
<html>
<head>
<title>Welcome to nginx configured automatically by Ansible</title>
<style>
    body {
        width: 37em;
        margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif;
    }
</style>
</head>
<body>
<h1>Welcome to TPC nginx configuration page on this server @ {{ inventory_hostname }}</h1>
<p>If you see this page, the nginx web server was successfully installed and
configured by ANSIBLE. Please note that this is not a production ready configuration.</p>

<p>Please feel free to contact TPC Operations team if you need more information about this server.<br />
<a href="http://www.tampabay.com/">DENIED!</a></p>

<p>
      Below are some useful tools for your DEVOPS journey!
      <ol> 
         <li><a href="https://tower-3">Ansible/Tower</a></li>
         <li><a href="https://apollo.vital-ns.com/Orion/Login.aspx">Solarwinds</a></li>
      </ol>
</p>

<p><em>Happy Coding.</em></p>


</body>
</html>
